%transition {
    transition: all ease 0.5s;
}

@mixin backgroundImg($bgImg, $bgColor:transparent,$bgSize:auto,$bgPos:center) {
    background-image: $bgImg;
    background-color: $bgColor;
    background-size: $bgSize;
    background-position: $bgPos;
    background-repeat: no-repeat;
}

@mixin textStyles($fontSize,$fontStyle,$fontWeight,$lineHeight,$color,$letterSpacing) {
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
    letter-spacing: $letterSpacing; 
}
@mixin beforeMix($bgImg,$bgColor:transparent,$bgSize:contain,$bgPos:center,$width:auto,
$height:auto,$top:0,$right:0,$bottom:0,$left:0) {
    content: "";
    background-image: $bgImg;
    background-color: $bgColor;
    background-size: $bgSize;
    background-position: $bgPos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
    
}


